<app-header></app-header>

  <!-- Full Page Intro -->
  <div class="view jarallax"
    style="background-image: url('../assets/images/MAS.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 mb-4 text-center">
            <h1 style="font-size: 28px; color: #777777; font-family: sans-serif; font-weight: bolder;"
              class="h1-reponsive text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
              data-wow-delay="0.3s"><strong>Madina Arabic Simplified</strong></h1>
            <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
            <!-- <h5 class="text-uppercase mb-4 wow fadeInDown" data-wow-delay="0.4s"><strong>Learn & Expertise Quran</strong></h5> -->
            <a routerLink="/madina-arabic-simplified/1/1"  mdbBtn style="font-size: 18px; color: #777777; font-family: sans-serif; font-weight: bolder;"
              outline="true" mdbWavesEffect class="wow fadeInDown" data-wow-delay="0.4s">Course-1</a>
            <a routerLink="/madina-arabic-simplified/2/1"  mdbBtn style="font-size: 18px; color: #777777; font-family: sans-serif; font-weight: bolder;"
              outline="true" mdbWavesEffect class="wow fadeInDown" data-wow-delay="0.4s">Course-2</a>
            <a routerLink="/madina-arabic-simplified/3/1"  mdbBtn style="font-size: 18px; color: #777777; font-family: sans-serif; font-weight: bolder;"
              outline="true" mdbWavesEffect class="wow fadeInDown" data-wow-delay="0.4s">Course-3</a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->


  <hr class="my-2">

  <main class="">
  <!--Section: Blog v.1-->
  <section class="py-2 text-center text-lg-left">

    <!-- Projects section v.3 -->
    <section class="my-2">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
          <!--Image-->
          <img src="../assets/images/quran1.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-book fa-2x cyan-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Knowledge</h5>
              <p class="grey-text">This ARABIC LANGUAGE COURSE will provide you
                the knowledge to understand the Qur’an in its ORIGINAL MATN
                (original Arabic Text).</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-heart fa-2x red-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Eloquence</h5>
              <p class="grey-text">The beauty, the Eloquence, the Miracle and
                the Divine Wisdom of the Qur’an will penetrate the innermost
                depth of your heart and you will experience the joy and
                happiness which cannot be expressed but can only be felt in the
                Believer’s Heart.</p>
            </div>
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <hr class="my-5">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-bar-chart fa-2x indigo-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Understand</h5>
              <p class="grey-text">How can the Qur’an guide me and how can I
                ponder over it and implement the Guidance of the Qur’an in my
                daily life if I do not understand the Language of the Qur’an!
              </p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-music fa-2x pink-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Melodious</h5>
              <p class="grey-text">Listening Quran is
                Melodious. Basic theme of Qura'n is to establish
                relationship between God and His creatures. How can the
                relationship bonds without reciting, listening, understanding
                the Qura'n.</p>
            </div>
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5">
          <!--Image-->
          <img src="../assets/images/girl1.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Projects section v.3 -->
    <hr class="my-3">
  </section>
  <!--Section: Blog v.1-->

  <!--Projects section v.4-->
  <section class="text-center pb-2">

    <!--Section heading-->
    <h2 class="font-weight-bold h1">
      <strong>Course Material</strong>
    </h2>
    <hr class="my-2">
    <!--Section description-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="card card-image" style="background-image:
            url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
          <div class="text-white text-center d-flex align-items-center
              rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="pink-text">
                <i class="fa fa-pie-chart"></i>
                <strong> Basic</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>Madina Arabic Book #1</strong>
              </h3>
              <p class="pb-3">This is a basic course. In this course you will
                learn basic arabic grammer and few quranic words. After
                completing this course, you will be able to understand 30 - 40 %
                of the Qura'n Inshallah.
              </p>
              <a routerLink="/madina-arabic-simplified/1/1" mdbBtn color="pink" size="md" rounded="true"
                class="waves-light" mdbWavesEffect>
                <i class="fa fa-clone left"></i> View Course</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="card card-image" style="background-image:
            url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
          <div class="text-white text-center d-flex align-items-center
              rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="green-text">
                <i class="fa fa-eye"></i>
                <strong> Intermediate</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>Madina Arabic Book #2</strong>
              </h3>
              <p class="pb-3">This is an Intermediate course. In this course you
                will learn most of the arabic grammer and quranic words. After
                completing this course, you will be able to understand 50 - 70 %
                of the Qura'n Inshallah.
              </p>
              <a routerLink="/madina-arabic-simplified/2/1" mdbBtn color="success" size="md" rounded="true"
                class="waves-light" mdbWavesEffect>
                <i class="fa fa-clone left"></i> View Course</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <div class="card card-image" style="background-image:
            url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
          <div class="text-white text-center d-flex align-items-center
              rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="purple-text">
                <i class="fa fa-plane"></i>
                <strong> Advanced</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>Madina Arabic Book #3</strong>
              </h3>
              <p class="pb-3">This is an Advanced course. In this course you
                will learn the complete arabic grammer and quranic words. After
                completing this course, you will be able to write, understand
                arabic language. You will be able to speak arabic. You will be
                able to understand 80 - 90 % of the Qura'n Inshallah.
              </p>
              <a routerLink="/madina-arabic-simplified/3/1" mdbBtn color="secondary" size="md" rounded="true"
                class="waves-light" mdbWavesEffect>
                <i class="fa fa-clone left"></i> View Course</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Projects section v.4-->

</main>

<app-footer></app-footer>