<div class="container" style="margin-top: 20px">
    <div style="margin-top: 15px; margin-bottom: 15px">
        <mat-toolbar>Quran Translation</mat-toolbar>
    </div>
    <mat-accordion>
        <mat-expansion-panel [expanded]=true>
            <mat-expansion-panel-header style="margin-right: 0px">
                <mat-panel-title>
                    This is the expansion 1 title
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description style="margin-right: 0px">
                In the name of God, the All-Merciful, the Ever-Merciful. In terms of allusion and in keeping with the
                tasting of the lords of recognition, the bi of bism [“In the name”] alludes to the “splendor” [bahāÌ] of
                Unity, the s to the “brilliance” [sanāÌ] of the Self-Sufficient, and the m to the “kingship” [mulk] of
                the
                Divinity. His splendor is self-standing, His brilliance self-sustaining, and His kingship everlasting.
                His
                splendor is eternal, His brilliance generous, His kingship tremendous. His splendor is with majesty, His
                brilliance with beauty, His kingship without decline. His splendor steals the heart, His brilliance
                increases love, His kingship has no annihilation. O You whose majesty runs before all that is beauteous!
                O
                You whose perfection is far from deficiency's blight! Venus rejoices on hearing Your music,In the name
                of
                God, the All-Merciful, the Ever-Merciful. In terms of allusion and in keeping with the tasting of the
                lords
                of recognition, the bi of bism [“In the name”] alludes to the “splendor” [bahāÌ] of Unity, the s to the
                “brilliance” [sanāÌ] of the Self-Sufficient, and the m to the “kingship” [mulk] of the Divinity. His
                splendor is self-standing, His brilliance self-sustaining, and His kingship everlasting. His
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>

    <div style="margin-top: 15px; margin-bottom: 15px">
        <mat-accordion>
            <mat-expansion-panel [expanded]=true>
                <mat-expansion-panel-header style="margin-right: 0px">
                    <mat-panel-title>
                        This is the expansion 1 title
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description style="margin-right: 0px">
                    <mat-tab-group animationDuration="500ms">
                        <mat-tab label="first">
                            In the name of God, the All-Merciful, the Ever-Merciful. In terms of allusion and in keeping
                            with
                            the tasting of the lords of recognition, the bi of bism [“In the name”] alludes to the
                            “splendor”
                            [bahāÌ] of Unity, the s to the “brilliance” [sanāÌ] of the Self-Sufficient, and the m to the
                            “kingship” [mulk] of the Divinity. His splendor is self-standing, His brilliance
                            self-sustaining,
                            and His kingship everlasting. His splendor is eternal, His brilliance generous, His kingship
                            tremendous. His splendor is with majesty, His brilliance with beauty, His kingship without
                            decline.
                            His splendor steals the heart, His brilliance increases love, His kingship has no
                            annihilation.
                            O
                            You whose majesty runs before all that is beauteous! O You whose perfection is far from
                            deficiency's
                            blight! Venus rejoices on hearing Your music,In the name of God, the All-Merciful, the
                            Ever-Merciful. In terms of allusion and in keeping with the tasting of the lords of
                            recognition,
                            the
                            bi of bism [“In the name”] alludes to the “splendor” [bahāÌ] of Unity, the s to the
                            “brilliance”
                            [sanāÌ] of the Self-Sufficient, and the m to the “kingship” [mulk] of the Divinity. His
                            splendor
                            is
                            self-standing, His brilliance self-sustaining, and His kingship everlasting. His splendor is
                            eternal, His brilliance generous, His kingship tremendous. His splendor is with majesty, His
                            brilliance with beauty, His kingship without decline. His splendor steals the heart, His
                            brilliance
                            increases love, His kingship has no annihilation. O You whose majesty runs before all that
                            is
                            beauteous! O You whose perfection is far from deficiency's blight! Venus rejoices on hearing
                            Your
                            music,In the name of God, the All-Merciful, the Ever-Merciful. In terms of allusion and in
                            keeping
                            with the tasting of the lords of recognition, the bi of bism [“In the name”] alludes to the
                            “splendor” [bahāÌ] of Unity, the s to the “brilliance” [sanāÌ] of the Self-Sufficient, and
                            the m
                            to
                            the “kingship” [mulk] of the Divinity. His splendor is self-standing, His brilliance
                            self-sustaining, and His kingship everlasting. His splendor is eternal, His brilliance
                            generous,
                            His
                            kingship tremendous. His splendor is with majesty, His brilliance with beauty, His kingship
                            without
                            decline. His splendor steals the heart, His brilliance increases love, His kingship has no
                            annihilation. O You whose majesty runs before all that is beauteous! O You whose perfection
                            is
                            far
                            from deficiency's blight! Venus rejoices on hearing Your music,In the name of God, the
                            All-Merciful,
                            the Ever-Merciful. In terms of allusion and in keeping with the tasting of the lords of
                            recognition,
                            the bi of bism [“In the name”] alludes to the “splendor” [bahāÌ] of Unity, the s to the
                            “brilliance”
                            [sanāÌ] of the Self-Sufficient, and the m to the “kingship” [mulk] of the Divinity. His
                            splendor
                            is
                            self-standing, His brilliance self-sustaining, and His kingship everlasting. His splendor is
                            eternal, His brilliance generous, His kingship tremendous. His splendor is with majesty, His
                            brilliance with beauty, His kingship without decline. His splendor steals the heart, His
                            brilliance
                            increases love, His kingship has no annihilation. O You whose majesty runs before all that
                            is
                            beauteous! O You whose perfection is far from deficiency's blight! Venus rejoices on hearing
                            Your
                            music,In the name of God, the All-Merciful, the Ever-Merciful. In terms of allusion and in
                            keeping
                            with the tasting of the lords of recognition, the bi of bism [“In the name”] alludes to the
                            “splendor” [bahāÌ] of Unity, the s to the “brilliance” [sanāÌ] of the Self-Sufficient, and
                            the m
                            to
                            the “kingship” [mulk] of the Divinity. His splendor is self-standing, His brilliance
                            self-sustaining, and His kingship everlasting. His splendor is eternal, His brilliance
                            generous,
                            His
                            kingship tremendous. His splendor is with majesty, His brilliance with beauty, His kingship
                            without
                            decline. His splendor steals the heart, His brilliance increases love, His kingship has no
                            annihilation. O You whose majesty runs before all that is beauteous! O You whose perfection
                            is
                            far
                            from deficiency's blight! Venus rejoices on hearing Your music,In the name of God, the
                            All-Merciful,
                            the Ever-Merciful. In terms of allusion and in keeping with the tasting of the lords of
                            recognition,
                            the bi of bism [“In the name”] alludes to the “splendor” [bahāÌ] of Unity, the s to the
                            “brilliance”
                            [sanāÌ] of the Self-Sufficient, and the m to the “kingship” [mulk] of the Divinity. His
                            splendor
                            is
                            self-standing, His brilliance self-sustaining, and His kingship everlasting. His splendor is
                            eternal, His brilliance generous, His kingship tremendous. His splendor is with majesty, His
                            brilliance with beauty, His kingship without decline. His splendor steals the heart, His
                            brilliance
                            increases love, His kingship has no annihilation. O You whose majesty runs before all that
                            is
                            beauteous! O You whose perfection is far from deficiency's blight! Venus rejoices on hearing
                            Your
                            music,
                        </mat-tab>
                        <mat-tab label="second">

                        </mat-tab>
                        <mat-tab label="third">

                        </mat-tab>
                    </mat-tab-group>
                </mat-panel-description>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>